{% extends 'base.html.twig' %}


{% block body %}

<div class="container"> 




    <div class="landing">
        <div class="landing-content">
            <h1>TechTime</h1>
            <h3>Les meilleurs teufs</h3>
            <a href="{{ path('list_event') }}" class="btn btn-primary">Découvrir</a>
        </div>
    </div>

</div>

{% endblock %}